// Define variables for your color scheme

// For example:
$red: #ff5a5f;
$blue: #008489;
$yellow: #ffd32a;
$orange: #f79f1f;
$green: #16a085;
$white: #ffffff;
$black: #000000;
$dark-gray: #484848;
$gray: #767676;
$light-gray: #d8d8d8;
