// menu
.avatar-little {
  border-radius: 50%;
  border: 1px solid $light-gray;
}

.active {
  padding-bottom: 8px;
  border-bottom: 3px solid  $white;
  font-weight: 400 !important;
  color: $white !important;
  opacity: 1 !important;
  opacity: 0.3;
}

.minouboard-navbar {
  text-align: center;
  background-color: $blue;
  height: 40px;
}

.minouboard-navbar > a{
  line-height: 40px;
  font-size: 14px;
  font-weight: 300;
  color: $white;
  margin: 0 15px;
  text-decoration: none;
}

.minouboard-navbar > a:hover{
  color: $white;
  transition: background 0.3s ease;
  font-weight: 400;
}

// contenu
.accept_refuse_body {
  margin-top: 10px;
  text-align: center;
  border: 1px solid $light-gray;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgba(1,1,1, 0.02);
}

#accept_refuse_title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: $dark-gray !important;
  font-size: 14px;
  font-weight: 400;
}

.accept_refuse_buttons {
  display: flex;
  text-align: center;
  justify-content: center;
}

.date_accept_refuse_rental {
  color: $dark-gray;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}

#loc_dates {
    position: absolute;
    color: $white;
    bottom: 10px;
    text-transform: capitalize;
    font-size: 12px;
    margin-bottom: 0px;
    padding: 3px 5px;
    background-color: $green;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dash_card_actions {
  position: absolute;
  right: 10px;
  bottom: 5px;
  margin-bottom: 0px;
}

 .fa-trash-alt {
  color: $white;
  font-size: 16px;
  margin-left: 4px;
 }

 .fa-edit {
  color: $white;
  font-size: 18px;
 }
