#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.black_cover {
  background: rgba(0,0,0,0.5);
  height: calc(100vh - 60px);
  width: 100 vw;
  position: relative;
}

.home-page-title {
  position: absolute;
  text-align: center;
  color: $white;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  top: 30vh;
  h1 {
    color: rgba(255,255,255,0.9);
  }
  p {
    color: rgba(255,255,255,0.8);
  }
}
