// .tab {
//   text-decoration: none;
//   padding: 10px 10px;
//   color:black;
//   font-size: 18px;
//   opacity: 0.3;
// }

// .active {
//   font-weight: bold;
//   border-bottom: 6px solid rgb(25, 165, 152);
//   opacity: 1;
// }

.inbox {
  border: 1px solid rgb(220, 220, 220);
  padding: 0px 40px;
  margin: 20px 0px;
}

.message {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 25px 0px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.message:last-child {
  border-bottom: none;
}


.message h2 {
  margin: 8px 0px 2px 0px;
  font-size: 14px;
  font-weight: normal;
  color: $gray;

}

.message p {
  font-size: 14px;
  font-weight: lighter;
  margin: 5px 0px 0px 20px;
}

.message-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.message-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 150px;
}

.message-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  margin: 0px 0px 0px 30px;
  flex: 0 0 120px;
}

.avatar-box {
  position: relative;
  margin-right: 30px;
}

.big-avatar {
  border-radius: 100%;
  border: 0px solid $light-gray;
}

.small-avatar {
  border-radius: 100%;
  border: 1px solid white;
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.message i {
  color: $blue;
}

.message-details p {
  margin: 3px 0px;
  font-size: 14px;
  color: $gray;
}

.sold {
  font-size: 35px;
  font-weight: bold;
  color: $blue;
}

#minou-coin {
  font-size: 25px;
  font-weight: bold;
  color: $blue;
}

#name {
  color: $gray;
  font-size: 18px;
}

#specie {
  color: $red;
  text-transform: uppercase;
  font-size: 14px;
}
#personality {
  color: $gray;
  text-transform: capitalize;
}
#price {
  color: $gray;
  font-weight: lighter;
  font-size: 14px;
}

#minou_coin_logo {
  margin-bottom: 8px;
}
