#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.black_cover {
  background: rgba(0,0,0,0.5);
  height: calc(100vh - 60px);
  width: 100 vw;
  position: relative;
}

.home-page-title {
  position: absolute;
  text-align: center;
  color: $white;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  top: 30vh;
  h1 {
    color: rgba(255,255,255,0.9);
    margin-bottom: 20px !important;
  }
  p {
    color: rgba(255,255,255,0.8);
  }
}

.home-form {
  display: flex;
  flex-direction: row;
  input {
    font-family: "Montserrat";
  }
}

.form-container {
  width: 400px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  margin-top: 50px !important;
  justify-content: space-around;
}

#user_address {
  border: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button-search-minou {
  padding: 7px!important;
  background-color: $red;
  border: 0px;
  font-size: 16px;
  border-radius: 4px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.button-search-minou:hover {
  background-color: rgba(255, 90, 95, 0.9)
;
  color: $white;
}

.button {
  text-align:center;
}
