<!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
<video autoplay loop id="video-background" muted plays-inline>
  <source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/3850/8/219250448/761773184.mp4?token=1519399563-0xdd82de0ca6979bf437a8b8920273a923832ac9d4" type="video/mp4">
</video>

<div class="black_cover">
  <div class="home-page-title">
      <h1>Bienvenue sur  Allominou</h1>
      <p>Accueillez un félin ne serait-ce qu'un temps</p>
        <%= form_tag minous_path, class: "form-inline",  method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control ou-minou",
        name: "query",
        id: "user_address",
        placeholder: "Address",
        autocomplete: "on"
        %>
        <%= submit_tag("Rechercher", class: "button-search-minou btn btn-danger btn-lg") %>
      <% end %>
    </div>
</div>
