<!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
<video autoplay loop id="video-background" muted plays-inline>
  <source src="https://pixabay.com/fr/videos/download/video-4216_medium.mp4" type="video/mp4">
</video>

<div class="black_cover">
  <div class="home-page-title">
      <h1>Bienvenue sur  Allominou</h1>
      <p>Accueillez un félin ne serait-ce qu'un temps</p>
      <div class="form-container">
        <%= form_tag minous_path, class: "home-form",  method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control ou-minou",
        name: "query",
        id: "user_address",
        placeholder: "📍 Paris, Lyon, Marseille",
        autocomplete: "on"
        %>
        <%= submit_tag("Rechercher", class: "button-search-minou") %>
      <% end %>
      </div>
    </div>
</div>
