
<div class="wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">

      <h1>Edit ton Minou</h1>

      <%= render 'form', minou: @minou %>

      <br>

      <%= link_to 'Minoupause', @minou, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<%= link_to 'Mon Minou', @minou %> |
<%= link_to 'Back', minous_path %>
</div>
</div>
