<h1>Liste des minous</h1>

<% @minous.each do |minou| %>
<ul>
  <li> Nom : <%= minou.name %> | Espèce : <%= minou.specie %> | Personnalité : <%= minou.personality %> |
    <%= link_to "Voir le minou", minou_path(minou) %>
  </li>
</ul>
<% end %>
