.main-button {
  padding: 10px 20px;
  margin: 10px 0px 30px 0px!important;
  border-radius: 60px;
  color: white;
  font-weight: normal;
  border: none;
  background-color: $blue;
  font-size: 14px;
}

.red {
  background-color: $red;
}

.main-button:hover {
    opacity: 0.8;
  }

.accepted-button {
  color: $white;
  background-color: $blue;
  font-size: 16px;
  border-radius: 50px;
  width: 40px;
  height: 25px;
  margin-right: 10px;
  border: 0px;
}

.refused-button {
  color: $white;
  background-color: $red;
  font-size: 16px;
  border-radius: 50px;
  width: 40px;
  height: 25px;
  margin-left: 10px;
  border: 0px;
}

.accepted-button:hover {
  color: $white;
  background-color: $blue;
  opacity: 0.8;
}

.refused-button:hover {
  color: $white;
  background-color: $red;
  opacity: 0.8;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.main-button-red {
  padding: 10px 20px;
  margin: 10px 0px 30px 0px;
  border-radius: 60px;
  color: white;
  font-weight: normal;
  border: none;
  background-color: $red;
  font-size: 14px;
}
